
/* Importing font types */
@font-face{
  font-family: 'Helvetica';
  src: url('fonts/Helvetica 400.ttf');
  
}

@font-face{
  font-family: 'Coves';
  src: url('fonts/Coves Light.otf');
}

@font-face{
  font-family: 'Coves';
  src: url('fonts/Coves Bold.otf');
  font-weight: bold;
}

@font-face{
  font-family: 'Coves';
  src: url('fonts/Coves Light.otf');
  font-style: italic;
}

@font-face{
  font-family: 'Kayak';
  src: url('fonts/Kayak Sans Regular.otf');
}

@font-face{
  font-family: 'Moon';
  src: url('fonts/Moon2.0-Regular.otf');
}

@font-face{
  font-family: 'Simplifica';
  src: url('fonts/SIMPLIFICA Typeface.ttf');
}
/* End Imports here */


.HomeText {
	font-size: 3.5em;
}

.container {
	min-width:410px;
}



@media only screen and (max-device-width: 480px) {
	.HomeText {
	font-size: 2em;
	text-align:center;
	}
}


/* 
@media (min-width: 992px) and (orientation:landscape) {
    .HomeText {
	font-size: 7.5em;
	text-align:center;
	}	

}

@media (min-width: 992px) and (orientation:portrait) {
	.HomeText {
	font-size: 7.5em;
	text-align:center;
	}	

	
 }

*/





/* Classes that will use fonts */
.HelveticaText {
	font-family: 'Helvetica';
}

.CovesText {
	font-family: 'Coves';
}

.MoonText {
	font-family: 'Moon';
}

.SimplificaText {
	font-family: 'Simplifica';
}

/* CSS classes that will use fonts */


.btn-outline {
  color: #000000;
  border-radius:10px !important;
  border-color: #000000;
  font-weight: bold !important;
  border-radius: 0;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
  
}
/* CSS bunttons revamped */





